## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

**Submitted by**
**Geffrey N - 19BEC046**

** What is 7 to the power of 4?**

In [ ]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [ ]:
s="Hi there sam!"
s.split()

['Hi', 'there', 'sam!']

In [ ]:
s="Hi there dad!"
s.split()

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [46]:
planet = "Earth"
diameter = 12742

In [47]:
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d["k1"][3]["tricky"][3]["target"][3]

'hello'

** What is the main difference between a tuple and a list? **

In [ ]:
'''
Tuple = Tuple is immutable data type
      = It is represnted by ()
List = List is mutable data type
     = It is represented by []
'''

'\nTuple = Tuple is immutable data type\n      = It is represnted by ()\nList = List is mutable data type\n     = It is represented by []\n'

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
def domain(email):
    return email.split("@")[-1]

In [ ]:
domain("user@domain.com")

'domain.com'

In [ ]:
domain("abcd.ec@xyz.in")

'xyz.in'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
def finddog(input_string):
  lower_string=input_string.lower()
  split_string=lower_string.split()
  if "dog" in split_string:
    return True
  else:
    return False

In [ ]:
finddog("There is a dog in my house")

True

In [43]:
finddog("There is a cat in my house")

False

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
def countdog(input_string):
  lower_string=input_string.lower()
  split_string=lower_string.split()
  count=0
  for word in split_string:
    if word=="dog":
      count=count+1
  return count

In [ ]:
countdog("There is dog and its name is baby dog")

2

In [44]:
countdog("There is a cat in my house")

0

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def speedlimit(speed,birthday):
    
    if birthday:
        newspeed = speed - 5
    else:
        newspeed = speed
    
    if newspeed > 80:
        return 'Big Ticket'
    elif newspeed > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [ ]:
speedlimit(100,1)

'Big Ticket'

In [ ]:
speedlimit(60,0)

'No Ticket'

In [ ]:
speedlimit(85,1)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [ ]:
employee=[170000,230000,550000,900000,850000]
sum=0
for i in range(len(employee)):
  print("The basic salary of Employee No:",i+1,"is",employee[i])
  sum=sum+employee[i]
print("Total salary expenditure is:",sum)

The basic salary of Employee No: 1 is 170000
The basic salary of Employee No: 2 is 230000
The basic salary of Employee No: 3 is 550000
The basic salary of Employee No: 4 is 900000
The basic salary of Employee No: 5 is 850000
Total salary expenditure is: 2700000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [ ]:
employee={"Empid":"19BEC046","Empname":"Geffrey","Basicpay":500000}
detail={"DeptName":"ECE","Deptid":123456789}
employee.update(detail)
employee

{'Empid': '19BEC046',
 'Empname': 'Geffrey',
 'Basicpay': 500000,
 'DeptName': 'ECE',
 'Deptid': 123456789}

In [ ]:
""